{%  extends 'layouts/base.html' %}

{% block titulo %}
    productos
{% endblock %}

{% block contenido%}
    <h1>Listado de productos</h1>
    
    <a href="{{ url_for('crear_producto') }}">Crear</a>
    
    <table class="table table-bordered">
        <thead>
            <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio venta</th>
            <th>Precio compra</th>
            <th>Estado</th>
        </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto[0] }}</td>
                <td>{{ producto[1] }}</td>
                <td>{{ producto[2] }}</td>
                <td>{{ producto[3] }}</td>
                <td>{{ producto[4] }}</td>
                <td>{{ producto[5] }}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
{% endblock %}